/* HEADER */
.banner {
    background-image: url(/assets/images/banner.png);
    background-size: cover;
    min-height: 100vh;
}

.banner h1 {
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
}

.logo {
    margin: auto;
    background-color: #00000080;
    border-radius: 100%;
}


/* BODY */


/* FOOTER */